.mainWrapper{
    align-self: center;
    width: 80%;

    .gu-image{
        width: 100%;
        height: auto;
    }
}

figcaption{
    margin-top: 10px;
    font-size:15px;
    font-weight: 200;
    color: grey;
    text-align: center;

    span{
        display: block;
    }
}