@import "utils/colors";

.wrapper {
  width: 1250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  div,h1,h2,h3,h4,h5,h6{
    cursor: default;
  }
}

.title {
  color: $text-color;
  font-weight: 800;
  font-size: 44px;
  text-decoration: underline;

    a:active,
    a:hover,
    a {
      text-decoration: none;
      color: $text-color;
    }

}

.by {
  font-size: 20px;

  .author {
    color: $primary-color;
  }
}

.image {
  width: 500px;
  height: auto;
}